<template>
  <v-row justify="center">
    <v-col cols="12" sm="8" md="6">
      <h2>Agrega una nueva imagen y recórtala</h2>
      <v-form class="mt-4" @submit.prevent="onSubmit" v-model="valid">
        <div class="text-center">
          <cropper
            classname="upload-example-cropper"
            :src="image"
            :stencil-props="{ aspectRatio: 1 }"
            ref="cropper"
          ></cropper>
          <v-file-input
            :rules="[v => !!v || 'Imagen requerida']"
            v-model="picture.file"
            label="Archivo de imagen"
            accept="image/jpeg, image/png"
            @change="showImage"
            show-size
            prepend-icon="mdi-camera"
          ></v-file-input>
        </div>
        <v-text-field
          v-model="picture.name"
          :rules="[v => !!v || 'Nombre requerido']"
          label="Nombre de la imagen"
          required
        ></v-text-field>
        <v-btn :disabled="!valid" type= "submit" color="success" class="mt-4 mr-4">Ok</v-btn>
        <router-link :to="{ name: 'home' }">
          <v-btn color="error" class="mt-4 mr-4">Cancelar</v-btn>
        </router-link>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import store from '@/store'
import { Cropper } from 'vue-advanced-cropper'

import {
  PICTURE_ADD,
  PICTURE_RESET_STATE
} from '@/store/actions.type'

export default {
  name: 'AddPic',
  components: {
    Cropper
  },
  data: () => ({
    valid: true,
    image: null
  }),
  async beforeRouteUpdate (to, from, next) {
    await store.dispatch(PICTURE_RESET_STATE)
    return next()
  },
  async beforeRouteEnter (to, from, next) {
    await store.dispatch(PICTURE_RESET_STATE)
    return next()
  },
  async beforeRouteLeave (to, from, next) {
    await store.dispatch(PICTURE_RESET_STATE)
    next()
  },
  computed: {
    ...mapGetters(['picture'])
  },
  methods: {
    onSubmit () {
      if (this.picture.file) {
        // Get cropped image
        const { canvas } = this.$refs.cropper.getResult()
        this.picture.file = new File([this.dataURItoBlob(canvas.toDataURL())], 'image-name')
        this.$store
          .dispatch(PICTURE_ADD)
          .then(({ data }) => {
            this.$router.push({ name: 'show-pic', params: { id: data.picture._id } })
          })
          .catch(({ response }) => {
            this.errors = response.data.errors
          })
      }
    },
    showImage (inputFile) {
      var reader = new FileReader()
      if (inputFile) {
        reader.readAsDataURL(inputFile)
      } else {
        this.image = null
      }
      reader.onload = () => {
        this.image = reader.result
      }
    },
    // https://stackoverflow.com/questions/4998908/convert-data-uri-to-file-then-append-to-formdata
    dataURItoBlob (dataURI) {
      var byteString
      if (dataURI.split(',')[0].indexOf('base64') >= 0) {
        byteString = atob(dataURI.split(',')[1])
      } else {
        byteString = unescape(dataURI.split(',')[1])
      }
      var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]
      var ia = new Uint8Array(byteString.length)
      for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i)
      }
      return new Blob([ia], { type: mimeString })
    }
  }
}
</script>

<style>

.upload-example-cropper {
  border: solid 1px #EEE;
  height: 250px;
  width: 100%;
}

</style>
