<template>
  <div>
    <p class="mt-5 text-center font-weight-light">Sube y almacena tus imágenes con tu cuenta de Google</p>
    <PictureList  v-if="isAuthenticated"/>
  </div>
</template>

<script>
import PictureList from '@/components/PictureList'
import { mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
    PictureList
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  }
}
</script>
