<template>
  <v-row justify="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="elevation-12">
        <v-toolbar color="primary" dark flat>
          <v-toolbar-title>Entra con tu cuenta de Google</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-row justify="center">
            <v-col cols="auto">
              <div id="google-signin-button"></div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>

import { mapState } from 'vuex'
import { LOGIN } from '@/store/actions.type'

export default {
  name: 'Login',
  methods: {
    onSignIn (googleUser) {
      this.$store
        .dispatch(LOGIN, googleUser.getAuthResponse().id_token)
        .then(() => this.$router.push({ name: 'home' }))
    }
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  },
  mounted () {
    gapi.signin2.render('google-signin-button', {
      onsuccess: this.onSignIn
    })
  }
}
</script>
