<template>
  <div>
    <v-row>
      <v-col cols="4" offset="4">
        <v-img
          :src="API_URL + '/picture/' + picture_detail.id + '/file'"
          aspect-ratio="1"
          class="grey lighten-2"
        ></v-img>
      </v-col>
    </v-row>
    <h2 class="text-center">{{picture_detail.name}}</h2>
  </div>
</template>

<script>
import { API_URL } from '@/common/config'
import { mapGetters } from 'vuex'
import store from '@/store'
import { FETCH_PICTURE_DETAIL } from '../store/actions.type'

export default {
  name: 'ShowPic',
  data () {
    return {
      API_URL: API_URL
    }
  },
  beforeRouteEnter (to, from, next) {
    Promise.resolve(store.dispatch(FETCH_PICTURE_DETAIL, to.params.id)).then(() => {
      next()
    })
  },
  computed: {
    ...mapGetters(['picture_detail'])
  }
}
</script>
