<template>
  <v-footer app dark padless absolute>
    <v-card flat tile class="blue lighten-4 text-center">
      <v-card-text class="caption my-1 black--text">
        Image Hosting es una aplicación demo para subir imágenes hecha con Vue.js/Vuetify en el Frontend y ExpressJS/NodeJS en el Backend. El código fuente está disponible en los siguientes repositorios de Gitlab: <a href="https://gitlab.com/yg-apaza/image-hosting-frontend">Frontend</a> y <a href="https://gitlab.com/yg-apaza/image-hosting-backend">Backend</a>. Desarrollado por Yuliana Apaza, puedes encontrar más información sobre mí en <a href="https://yg-apaza.github.io/">mi página personal</a>
      </v-card-text>
      <v-card-text class="black--text">
        {{ new Date().getFullYear() }} — <strong>Yuliana Apaza</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
