<template>
  <v-app-bar app color="primary" dark absolute>
    <v-toolbar-title class="headline">
      Image Hosting
    </v-toolbar-title>
    <div class="flex-grow-1"></div>
    <router-link :to="{ name: 'home' }">
      <v-btn depressed small color="primary"><v-icon>mdi-home</v-icon> Home</v-btn>
    </router-link>
    <router-link :to="{ name: 'login' }" v-if="!isAuthenticated">
      <v-btn depressed small color="primary"><v-icon>mdi-exit-to-app</v-icon> Login</v-btn>
    </router-link>
    <v-btn v-else @click="logout" depressed small color="primary">Logout</v-btn>
    <div>{{ currentUser.name }}</div>
  </v-app-bar>
</template>

<script>
import { LOGOUT } from '@/store/actions.type'
import { mapGetters } from 'vuex'

export default {
  name: 'Header',
  computed: {
    ...mapGetters(['currentUser', 'isAuthenticated'])
  },
  methods: {
    logout () {
      this.$store.dispatch(LOGOUT).then(() => {
        this.$router.push({ name: "home" });
      });
    }
  }
}
</script>
