<template>
  <div>
    <router-link :to="{ name: 'add-pic' }">
      <v-btn absolute dark fab right color="pink">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </router-link>
    <v-row>
      <v-col cols="12" sm="8" offset-sm="2">
        <v-card>
          <v-container fluid v-if="pictures.length > 0">
            <v-row>
              <v-col
                v-for="pic in pictures"
                :key="pic._id"
                class="d-flex child-flex"
                cols="12"
                sm="6"
                md=4
              >
                <router-link :to="{ name: 'show-pic', params: { id: pic._id }}">
                  <v-card>
                    <v-img
                      :src="API_URL + '/picture/' + pic._id + '/file'"
                      aspect-ratio="1"
                      class="grey lighten-2"
                    >
                    </v-img>
                    <v-card-text>{{ pic.name }}</v-card-text>
                  </v-card>
                </router-link>
              </v-col>
            </v-row>
          </v-container>
          <v-card-text v-else class="text-center"> No has subido ninguna imagen aún. Presiona + para agregar una imagen.</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { API_URL } from '@/common/config'
import { mapGetters } from 'vuex'
import { FETCH_PICTURES } from '../store/actions.type'

export default {
  name: 'PictureList',
  data () {
    return {
      API_URL: API_URL
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'pictures'])
  },
  mounted () {
    this.fetchPictures()
  },
  methods: {
    fetchPictures () {
      this.$store.dispatch(FETCH_PICTURES)
    }
  }
}
</script>
